# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
snake/node_modules
snake/.pnp

un-disconnected-client/node_modules
un-disconnected-client/.pnp

un-disconnected-server/node_modules
un-disconnected-server/.pnp

.pnp.js

# testing
/coverage

# production
snake/build
un-disconnected-client/build
un-disconnected-server/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
